{% load static %}

<!DOCTYPE html>
<html lang="en-US">
    <head>
        <title>Kalyan Yojana: {%block title%} {%endblock%}</title>
        <meta charset="utf-8">
        <meta name="author" content="Akatsuki">
        <meta name="description" content="Kalyan Yojana">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        
        {% block include_css %}

        {% endblock %}

        <link rel ="icon" href="{% static 'kalyan/img/favicon.png' %}"> 
        <link href="{% static 'kalyan/css/bootstrap.min.css' %}" rel="stylesheet">
       <!--  <link href="{% static 'kalyan/css/styles.css' %}" rel="stylesheet"> -->
          <!-- <script src="js/bootstrap.min.js"/>
        <script src="js/scripts.js"/> -->
    </head>
    <style type="text/css" media="screen">
        @font-face {
            font-family: Font;
            src: url({% static 'kalyan/fonts/Roboto-Regular.ttf' %});
        }
           /* html {
                background:url({% static 'kalyan/img/Bhamashah.jpg' %}) no-repeat center center fixed;
            }

            body {
                background:rgba(255,255,255,0.8); /* applies a 50% transparent white background */
            }        
    </style>
    <body style="font-family: Font; padding-top: 40px; padding-bottom: 40px;" background="{% static 'kalyan/img/bg.jpg' %}" style="background-repeat: no-repeat; background-attachment: fixed; background-position: center;">
     <!-- navbar-fixed-top -->
                    <nav class="navbar navbar-default navbar-fixed-top">
                        <div class="container-fluid">
                        <div class="navbar-header">
                            <a class="navbar-brand" href="/">Kalyan Yojana</a>
                        </div>
                        <ul class="nav navbar-nav">
                            <li><a href="/public_views/complains/all">Public Views</a></li>
                            <li><a href="/applis_view">Application Views</a></li>
                            {% if "gov" not in request.session.keys %}
                            <li><a href="/scomplain">Complain | Suggest</a></li>
                            {% endif %}
                            <li><a href="/Services/0">Services</a></li>
                            {% if "id" not in request.session.keys %}
                            <li><a href="/register">Register</a></li>
                            <li><a href="/login">Login</a></li>
                            {% endif %}
                            {% if "id" in request.session.keys and "gov" not in request.session.keys %}

                            <li><a href="/profile/{{request.session.id}}">Profile</a></li>
                            {% endif %}
                            <li><a href="/about">About Us</a></li>
                            {% if "id" in request.session.keys %}
                            <li><a href="/logout">LogOut</a></li>
                            {% endif %}
                    </ul>
                </div>
                </nav>

               <!--  <div>
                    <a href="/"><h1 style="font-size: 100px; color: #90caf9;"><span lang="Hindi">कल्याण योजना</span></h1></a>
                </div> -->
        

     <!-- Write code -->

        {% block content %}

        <!-- Write Code -->

        {% endblock %}
        <br/>
 <!-- navbar-fixed-bottom -->
 <br/>
        <div align="center">
        <footer class="footer navbar-fixed-bottom" style="background-color: white; display: inline-block; margin-top: 100%">
            <div class="container">
               <p class="text-muted" align="center"> Brought to you by <a href="mailto:upendra.upadhyay.97@gmail.com">Akatsuki Team</a>
                <br/>
                Give <a href="/feedback">feedback.</a></p>
            </div>
         </footer>
         </div>
         <script src="{% static 'kalyan/js/jquery-1.11.3.min.js' %}"></script>
         <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <script src="{% static 'kalyan/js/scripts.js' %}"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="{% static 'kalyan/js/location.js' %}"></script>
        <script>
            {% block location %}
                
            {% endblock %}
        </script>

    
    {% block includes %}



    {% endblock %}

    </body>
</html>