{% extends "base.html" %}
{% load static %}
    {% block title %}
    	About Us
    {% endblock %}
        <!-- Write code -->
{% block content %}

<div  class="container" style="margin-top: 20px; margin-bottom: 80px">
 <div class="rows">
 <div class="col-md-3">
 <img class="img-responsive" src="{% static 'kalyan/img/favicon.png' %}">
 </div>
 <div class="col-md-9">
 <p class = "change">
  <h3><p>We are a team named "Akatuski" who proposed this idea and worked on it.
  This idea initially hitted to one of our team member when on some random day we were discussing the condition of the people living in the backward area where generally they are exploited by the local policemen [not all included] and the local "panchayat system". People there, generally can't reach the goverenment directly when they need them and keep on wandering from office to office wasting their earnings in giving bribes and getting nothing.</p>
  <br/>
  <p>
  We are working with the "Bhamashah API" information to fetch the data of the citizens of "Rajasthan" who have got their Bhamashah Card. The main reason behind Bhamashah Yojana was to bring women empowerment and thus we also aim that, everyone of the state should be given equal rights and respect and they must not get exploited through any means.
  </p>
  <br/>
  <p>
  We as a team and as a citizen of this Great country really want to serve the people of this country.
  Our main aim is to make this country a better place and a global leader.
  </p>
  </h3>
	</p>
	</div>
</div>
</div>

     
{% endblock %}