{% extends "base.html" %}
{% load static %}
    {% block title %}
    	About Us
    {% endblock %}
        <!-- Write code -->
{% block content %}

<div  class="container" style="margin-top: 20px; margin-bottom: 80px">
 <div class="rows">
 <div class="col-md-3">
 <img class="img-responsive" src="{% static 'kalyan/img/favicon.png' %}">
 </div>
 <div class="col-md-9">
 <p class = "change">
  <h3><p>We are a team of four people,named "Akatuski" who proposed this idea and completed for that.
  this idea initally hitted to one of our team member when on some random day we were discussing 
  the condition of the people living in the backward area where generally they are exploited by the 
  local policemans[not all included] and the local "panchayat system". people generally there cant reach the 
  goverenment directly when they need them.</p>
  <br/>
  <p>
  We are working with the "Bhamashah api" information to fetch the data of the citizens of "Rajasthan" who have got 
  that bhamashah card.The main reason behind that was is to make the women as the "Women of the House" and we 
  really want that,everyone of the state should be given equal rights and respect and they must not get exploited
  through any means.
  </p>
  <br/>
  <p>
  this idea sollely revolves around them and their problems.
  We as a team and as a citizen of this Great country really want to serve the people of this country.
  our main aim is to make this country a better place and a global leader.
  </p>
  </h3>
	</p>
	</div>
</div>
</div>

     
{% endblock %}