{% extends "base.html" %}
    {% block title %}
    	Feedback
    {% endblock %}
        <!-- Write code -->
{% block content %}
<form action="" method="post"  style="margin-top: 20px; margin-bottom: 80px">
{% csrf_token %}
<div class="centered col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6 col-lg-offset-4 col-lg-4  ">
<br />
	 <div class="panel panel-default">
        <div class="panel-heading">
            <h2 align="center">Feedback</h2>
        </div>
         <div class="panel-body" >
         	<div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">
                        <i class="glyphicon glyphicon-pencil" style="width: auto"></i>
                        </span>
                        <textarea class="form-control" name="description" placeholder="Write here..." rows=10 cols = device-width maxlength="500" minlength="1"></textarea>
                    </div>
                </div>
                <div class="panel-footer" style="color: {{ color }};">
                    <p align="center">{{ a }}</p>
                </div>
              	<button type="submit" name="lsubmit" class="btn btn-default submit" style="width: 100%;"><i class="fa fa-paper-plane" style="width: auto;"></i>
                	Give Feedback
                </button> 
            </div>
        </div>
    </div>
</form>


<!-- 
			<div class="container">
				<form action="" method="POST">
				{% csrf_token %}
			  			<div class="form-group">
			  				<label for ="description"> <h1>Feedback</h1> </label>
			  				<br>
			  			 	<textarea class="form-control" name="description" placeholder="Give your feedback" rows=10 cols = 50 maxlength="500" minlength="1"></textarea>
			  			</div>
			  			<div class="form-group">
       					<small id ='pr' style="color: {{ color  }};">{{ a }}</small>
        				<br/>
        				</div>
        				<div class="form-group">
			  				<button type="submit" class="btn btn-default submit"><i class="fa fa-paper-plane" aria-hidden="true"></i>Give Feedback</button>
			  			</div>
				</form>
			</div> -->
{% endblock %}