{% extends "base.html" %}

    {% block title %}
    	User Profile
    {% endblock %}
        {% block include_css %}

        {% endblock %}

{% block content %}
	
{% if 'prof' in request.session.keys %}
<div class="container" style="margin-top: 20px; margin-bottom: 80px">
	<div class="panel panel-default">
    	<div class="panel-heading">
        	<div class="text-center">
        	<h1>Your Profile</h1>
        	</div>
        </div>
        <div class="panel-body">
			<div class="clearfix">
	<label for="label">Family_Id_No: </label> {{data.FAMILYIDNO }}<br/>
	<label for="label">Aadhar_Card_Id: </label> {{data.AADHAR_ID}}<br/>
	<label for="label">BHAMASHAH_ID: </label> {{data.BHAMASHAH_ID}}<br/>  
			</div>	
			<hr/>
			<div class="clearfix">
	<label for="label">Card_Holder_Name : </label> {{ data.NAME_ENG }}<br/>
	<label for="label">Gender: </label> {{data.GENDER}}<br/>
	<label for="label">DOB: </label> {{data.DOB}}<br/>
	<label for="label">Spouce_Name: </label> {{data.SPOUCE_NAME_ENG}}<br/>
	<label for="label">MOTHER_NAME: </label> {{data.MOTHER_NAME_ENG}}<br/>
	<label for="label">FATHER_NAME: </label> {{data.FATHER_NAME_ENG}}<br/>
	<label for="label">RELATION: </label> {{data.RELATION_ENG}}<br/>
	<label for="label">CATEGORY: </label> {{data.CATEGORY_DESC_ENG}}<br/> 
				</div>	
			<hr/>	
	<div class="clearfix">
	<label for="label">Address: </label> {{data.ADDRESS}}<br/>
	<label for="label">Pin_Code: </label> {{data.PIN_CODE}}<br/>
	<label for="label">HOUSE_NUMBER: </label> {{data.HOUSE_NUMBER_ENG}}<br/>
	<label for="label">BUILDING_NO: </label> {{data.BUILDING_NO_ENG}}<br/>
	<label for="label">LAND_MARK: </label> {{data.LAND_MARK_ENG}}<br/>
	<label for="label">GP_WARD: </label> {{data.GP_WARD}}<br/>
	<label for="label">VILLAGE_NAME: </label> {{data.VILLAGE_NAME}}<br/> 
	<label for="label">BLOCK_CITY: </label> {{data.BLOCK_CITY}}<br/>
	<label for="label">DISTRICT: </label> {{data.DISTRICT}}<br/>
	<label for="label">STATE: </label> {{data.STATE}}<br/>
	
			</div>	
			<hr/>
	
	<div class="clearfix">
	<label for="label">BANK_NAME: </label> {{data.BANK_NAME}}<br/>
	<label for="label">Family_Bank_Acc_No: </label> {{data.ACC_NO}}<br/>
	<label for="label">IFSC_CODE: </label> {{data.IFSC_CODE}}<br/>
	
				</div>	
			<hr/>
	
<div class="clearfix">
	<label for="label">EDUCATION_DESC: </label> {{data.EDUCATION_DESC_ENG}}<br/>  
	<label for="label">INCOME_DESCRIPTION: </label> {{data.INCOME_DESC_ENG}}<br/>
	<label for="label">ECONOMIC_GROUP: </label> {{data.ECONOMIC_GROUP}}<br/>
	<label for="label">RATION_CARD_NO: </label> {{data.RATION_CARD_NO}}<br/>

				</div>	
			<hr/>
	<div class="clearfix">
	<label for="label">MOBILE_NO: </label> {{data.MOBILE_NO}}<br/>
	<label for="label">LANDLINE_NO: </label> {{data.LANDLINE_NO}}<br/> 
	<label for="label">FAX_NO: </label> {{data.FAX_NO}}<br/>
	<label for="label">EMAIL: </label> {{data.EMAIL}}<br/>
			</div>	
			<hr/>
	<div class="clearfix">
	<label for="label">M_ID: </label> {{data.M_ID}}<br/>
	<label for="label">IS_RURAL: </label> {{data.IS_RURAL}}<br/>
</div>
</div>
</div>
</div>
	
{% endif %}

{% endblock %}
