{% extends "base.html" %}
{% block title%}
Signup
{% endblock %}
{% block content %}
        	<form action="register" method="post" style="padding-top: 40px">
        	{% csrf_token %}
			    	<div class="form-group">
			            <input class="form-control" name="bhamashah" placeholder="Bhamash ID" type=" type="text" minlength="8" maxlength="20" />
			        </div>
			        <div class="form-group">
			            <input class="form-control" name="aadhar" placeholder="Aadhar ID" type=" type="text" minlength="8" maxlength="20"/>
			        </div>
			    	<div class ="form-group" style="color:{% if error == 'Registration Successful' %} green {% else %} red {% endif %};">
			        		{{ error }}
			        </div>
			        <div class="form-group">
			            <button class="btn btn-default" type="submit" {% if "id" in request.session.keys %}
				            	disabled="true" 
				            {% endif %}>
			                <span aria-hidden="true" class="glyphicon glyphicon-log-in"></span>
			                Authenticate
			            </button>
			        </div>
			    </fieldset>
			</form>
		<div>
		{% if "id" not in request.session.keys %}
		    or <a href="/login">Log in</a>
		{% endif %}
		</div>

{% endblock %}
{% block location %}
	getLocation();
{% endblock %}