{% extends "base.html" %}
{% block title%}
Compalin
{% endblock %}
{% block content %}
	<form action="" method="post">
        {% csrf_token %}
        <div class="form-group">
        	<label for ="description"> 
                <h1>
                    Complain Or Suggestion
                </h1> 
            </label>
        	<br>
            <div class="form-group">
             <br/>
                <input class="form-control" type="text" name="subject" value="" placeholder="Subject" maxlength="30" minlength="1">
            </div>
            <div>
            <!-- <label>Category: </label> -->
            	<select name = "dropdown" class="form-control" style="width: auto;">
            	{% for i in list %}
    	        	 <option>{{ i }}</option>
    	        {% endfor %}
            	</select>
            </div> 

            <div class="form-group">
                <br/>
                <textarea class="form-control" name="description" placeholder="Write here..." rows=10 cols = device-width maxlength="500" minlength="1"></textarea>
            </div>
        </div> 
        <div class="form-group">
        <small id ='pr' style="color: {{ color }};">{{ a }}</small>
        <br/>
        </div>
        <div class="form-group">
        <div class="rows">
                {% if "id" in request.session.keys %}
                    <button type="submit" name="complain" class="btn btn-default submit"><i class="fa fa-paper-plane" aria-hidden="true"></i>
                        Complain
                    </button>
                    <button type="submit" name="suggest" class="btn btn-default submit"><i class="fa fa-paper-plane" aria-hidden="true"></i>
                        Suggest
                    </button>
                {% else %}
                   <button type="submit" name="lsubmit" class="btn btn-default submit"><i class="fa fa-paper-plane" aria-hidden="true"></i>
                        LogIn to Complain or Suggest
                    </button> 
                {% endif %}
        </div>
    </form>
{% endblock %}